<a href="https://colab.research.google.com/github/asad755/100-days-of-code-youtube/blob/main/asadtuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
mytuple1 = '("Asad", "craig, "Ronaldo"," Messi")'
print(mytuple1)

mytuple2 = (10, 20, 50, 100)
print(mytupleu2)

("Asad", "craig, "Ronaldo"," Messi")

NameError: name 'mytupleu2' is not defined

In [ ]:
# prompt:

# Preceding code has a typo in the second print statement: 'mytupleu2' should be 'mytuple2'.
# Here's the corrected code:

mytuple1 = ('Asad', 'craig', 'Ronaldo', 'Messi')
print(mytuple1)

mytuple2 = (10, 20, 50, 100)
print(mytuple2)

In [3]:
mytuple1 = ('Asad', 'craig', 'Ronaldo', 'Messi')
print(mytuple1)

mytuple2 = (10, 20, 50, 100)
print(mytuple2)

('Asad', 'craig', 'Ronaldo', 'Messi')
(10, 20, 50, 100)